# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp

# Dependency directories
.DS_Store

# Coverage directory
coverage/

# React specific
*.cache/
*.env.local
node_modules
.history

.yarn
dist-iframe
tsconfig.tsbuildinfo
