.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  position: relative;
}

.full {
  font-size: 0.85em;
  color: transparent;
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  left: 0;
}

.trimmed {
  font-weight: bold;
}
