.connected {
  display: flex;
  align-items: center;
}

.connector {
  line-height: 1.4em;
  flex-grow: 1;
  margin-right: auto;
}

.disconnect {
  flex-shrink: 0;
}

.address {
  line-height: 1.2em;
  font-weight: 800;
}
